*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue-dark:#122562;
    --blue-navy: #000080;
    --gray: #7d7f7d;
    --gray-light: #eaeaea;
    --white: #f4fffd;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 22px;
}
/*--------------------------/*
/*Header/*
/*-------------------------*/

.contenido-header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/BannerG3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contenido-header .fondo {
	width: 0%;
	height: 100%;
	max-width: 100%;
	background-image: url(../img/hojas.png);
}

.contenido-header .texto {
	width: calc(100vw - 20px);
	height: 100vh;
	font-size: 90px;
	font-weight: 400;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--blue-dark);
	mix-blend-mode: multiply;
}

/* ------------------------- */
/* NAVBAR */
/* ------------------------- */
.menu {
	background-color: var(--blue-dark);
	width: 100%;
	position: sticky;
	top: 0;
	padding: 5px;
	z-index: 999;
	text-align: center;
	display: flex;
	justify-content: center;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	margin-bottom: 60px;
}

.menu a {
	display: inline-block;
	padding: 10px 30px;
	font-size: 26px;
	background-color: var(--blue-dark);
	margin: 0 10px;
	transition: .5s ease all;
	color: var(--gray-light);
	text-decoration: none;
}

.menu a:hover {
	transform: translateY(18px);
	background-color: var(--blue-navy);
}

/* ------------------------- */
/* Contacto */
/* ------------------------- */
input, textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none
}
textarea {
min-height: 100px;
max-height: 200px;
}

form{
	width: 450px;
	margin: auto;
	background: rgb(33, 63, 199);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 10px;
}

h1{
	color: white;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 20px;
}
button{
	color: var(--blue-navy);
}

/*footer*/

.redes-sociales {
	padding: 10px;
	background-color: var(--blue-navy);
}

.redes-sociales img {
	padding: 5px;
	border-radius: 100%;
	width: 100px;
	transition: .3s ease all;
}

.redes-sociales img:hover {
	transform: scale(1.2);
}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 992px) {
	p {
		font-size: 18px;
	}

	.contenido-header .texto {
		font-size: 60px;
	}

	.menu a {
		font-size: 20px;
	}

	.nosotros .titulo,
	.productos .titulo {
		font-size: 30px;
	}

}
